// Dependencies from other packages --------------------------------------------
@import '~sui-settings/src/settings';

@if $is-theme == false {
  @import '~sui-reset/src/reset';
  @import '~sui-typography/src/typography';
}

/*
Button

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra ante enim, cursus fringilla metus hendrerit non.

Styleguide Button-1
*/

/*
Button Primary

Use class `.Button--primary` to create a button using `<a>` (outside forms) or `<button>` (only inside forms).
<br>
Also add one of the following classes to give it format:
<br>
`.Button--primary` for a primary action style<br>

Markup:
<!-- Anchors (links) -->
<a href="#" class="Button Button--primary">Anchor Button primary default</a>
@@
<!-- Buttons (actions) -->
<button class="Button Button--primary">Button primary default</button>
<button class="Button Button--primary is-disabled" disabled>Button primary default disabled</button>


Styleguide Button-1.1
*/

.Button {
  appearance: none;
  background-color: $c-dark-soft;
  border-color: transparent;
  border-radius: $b-radius-base;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: $c-contrast;
  cursor: pointer;
  display: inline-block;
  font-family: $ff-base;
  font-size: $fz-small;
  font-weight: normal;
  height: $button-h-base;
  line-height: $button-lh-base;
  overflow: visible;
  padding-bottom: 0;
  padding-left: $gap-base;
  padding-right: $gap-base;
  padding-top: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.Button--primary {
  background-color: $c-primary;
  color: $c-contrast;

  &:hover {
    background-color: $c-primary-variant;
  }

  &.is-disabled,
  &[disabled] {
    background-color: $c-dark-light;
    color: $c-dark-soft;
    cursor: default;
  }
}

/*
Button Secondary

Use class `.Button--secondary` to create a button using `<a>` (outside forms) or `<button>` (only inside forms).
<br>

Markup:
<!-- Anchors (links) -->
<a href="#" class="Button Button--secondary">Anchor Button secondary</a>
@@
<!-- Buttons (actions) -->
<button class="Button Button--secondary">Button secondary</button>
<button class="Button Button--secondary is-disabled" disabled>Button secondary disabled</button>


Styleguide Button-1.2
*/
.Button--secondary {
  background-color: $c-secondary;
  color: $c-text-variant;

  &:hover {
    background-color: $c-secondary-variant;
  }

  &.is-disabled,
  &[disabled] {
    background-color: $c-contrast;
    color: $c-dark-soft;
    cursor: default;
  }
}


/*
Button Medium

Use class `.Button--medium` to create a button with medium size.
<br>
`.Button--medium` for a primary action style<br>

Markup:
<!-- Anchors (links) -->
<a href="#" class="Button Button--primary Button--medium">Anchor Button medium</a>
@@
<!-- Buttons (actions) -->
<button class="Button Button--primary Button--medium">Button medium</button>
<button class="Button Button--primary Button--medium is-disabled" disabled>Button medium disabled</button>


Styleguide Button-1.3
*/
.Button--medium {
  font-size: $fz-medium;
  height: $button-h-medium;
  line-height: $button-lh-medium;
  padding-bottom: 0;
  padding-left: $gap-medium;
  padding-right: $gap-medium;
  padding-top: 0;

  &.is-disabled,
  &[disabled] {
    background-color: $c-contrast;
    color: $c-dark-soft;
    cursor: default;
  }
}

/*
Button Large

Use class `.Button--large` to create a button with large size.

Markup:
<!-- Anchors (links) -->
<a href="#" class="Button Button--primary Button--large">Anchor Button large</a>
@@
<!-- Buttons (actions) -->
<button class="Button Button--primary Button--large">Button primary default</button>
<button class="Button Button--primary Button--large is-disabled" disabled>Button large disabled</button>


Styleguide Button-1.4
*/
.Button--large {
  font-size: $fz-large;
  height: $button-h-large;
  line-height: $button-lh-large;
  padding-bottom: 0;
  padding-left: $gap-medium;
  padding-right: $gap-medium;
  padding-top: 0;

  &.is-disabled,
  &[disabled] {
    background-color: $c-contrast;
    color: $c-dark-soft;
    cursor: default;
  }
}
