/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

// Index
// 1. clearfix
// 2. font-size
// 3. media queries


// clearfix
// -----------------------------------------------------------------------------
@mixin clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: table;
  }
}


// fonts
// -----------------------------------------------------------------------------
@mixin textxxlarge {
  font-size: $fz-xxlarge;
  line-height: $lh-base-headings;

  @include mediaquery($mq-tablet) {
    font-size: $fz-xxlarge-desktop;
    line-height: $lh-base-headings;
  }
}

@mixin textxlarge {
  font-size: $fz-xlarge;
  line-height: $lh-base-headings;

  @include mediaquery($mq-tablet) {
    font-size: $fz-xlarge-desktop;
    line-height: $lh-base-headings;
  }
}

@mixin textlarge {
  font-size: $fz-large;
  line-height: $lh-base-headings;

  @include mediaquery($mq-tablet) {
    font-size: $fz-large-desktop;
    line-height: $lh-base-headings;
  }
}

@mixin textmedium {
  font-size: $fz-medium;
  line-height: $lh-base-headings;

  @include mediaquery($mq-tablet) {
    font-size: $fz-medium-desktop;
    line-height: $lh-base-headings;
  }
}

@mixin textbase {
  font-size: $fz-base;
  line-height: $lh-base-body;
}

@mixin textsmall {
  font-size: $fz-small;
  line-height: $lh-base-body;
}

@mixin textxsmall {
  font-size: $fz-xsmall;
  line-height: $lh-base-body;
}

// media queries
// -----------------------------------------------------------------------------

// $breakpoint = $mq-tablet, $mq-desktop or specific
// $query1     = min or max
// $query2     = width, device-width

@mixin mediaquery ($breakpoint, $query1: min, $query2: width) {
  @media only screen and (#{$query1}-#{$query2}: $breakpoint) {
    @content;
  }
}
