$is-theme: false !default;

// # Theme Variables
// -----------------------------------------------------------------------------
// The naming convention used for variables is the
// [ZenCSSProperties](https://code.google.com/p/zen-coding/wiki/ZenCSSPropertiesEn)
//
// Some of the prefixes used:
// * b = border
// * bg = background;
// * c = color
// * ff = font-family
// * fz = font-size
// * h = height
// * bw = border-width
// * mt = margin-top


// Brand Colors
// -----------------------------------------------------------------------------
$c-primary:                 #999999 !default;
$c-primary-variant:         #666666 !default;
$c-secondary:               #e6e6e6 !default;
$c-secondary-variant:       #cccccc !default;
$c-text:                    #666666 !default;
$c-text-secondary:          #999999 !default;
$c-text-variant:            #999999 !default;
$c-contrast:                #ffffff !default;
$c-dark-soft:               #cccccc !default;
$c-dark-light:              #f2f2f2 !default;
$c-error:                   #bf2102 !default;
$c-success:                 #00a550 !default;
$c-warning:                 #e1a900 !default;
$c-dark-mid:                #484f53 !default;
$c-highlight:               #000000 !default;
$c-disabled:                rgba($c-text-secondary, .5) !default;

// Background Colors
// -----------------------------------------------------------------------------
$bg-body:                   #c0c7cb !default;

// Font families
// -----------------------------------------------------------------------------
$ff-base:                   "Lato-Regular", Helvetica, Arial, sans-serif !default;
$ff-base-bold:              "Lato-Bold", Helvetica, Arial, sans-serif !default;
$ff-base-bold-italic:       "Lato-Bold-Italic", Helvetica, Arial, sans-serif !default;
$ff-base-italic:            "Lato-Italic", Helvetica, Arial, sans-serif !default;

$ff-base-heading:           $ff-base-bold;

// Font sizes
// -----------------------------------------------------------------------------
$fz-xsmall:                 12px !default;
$fz-small:                  14px !default;
$fz-base:                   16px !default;

$lh-base-headings:          1.16 !default;
$lh-base-body:              1.25 !default;

$fz-medium:                 18px !default;
$fz-medium-desktop:         16px !default;
$fz-large:                  20px !default;
$fz-large-desktop:          18px !default;
$fz-xlarge:                 21px !default;
$fz-xlarge-desktop:         25px !default;
$fz-xxlarge:                23px !default;
$fz-xxlarge-desktop:        30px !default;
$fz-xxxlarge:               25px !default;
$fz-xxxlarge-desktop:       36px !default;

// Paddings and margins
// -----------------------------------------------------------------------------
$gap-base:                    10px !default;
$gap-medium:                  ($gap-base * 2) !default;
$gap-large:                   ($gap-base * 4) !default;

// Borders
// -----------------------------------------------------------------------------
$b-radius-base:             0 !default;

// Conversors
// -----------------------------------------------------------------------------
$conv-px-pt:                1.3333;

// Mediaqueries
// -----------------------------------------------------------------------------
$mq-tablet:                 480px !default;
$mq-desktop:                768px !default;

// Z-indexs
// -----------------------------------------------------------------------------
$z-base:                    1;
$z-tooltip:                 8000;
