// Dependencies from other packages --------------------------------------------
@import '~sui-settings/src/settings';

@if $is-theme == false {
  @import '~sui-reset/src/reset';
  @import '~sui-typography/src/typography';
  @import '~sui-main/src/main';
}

/*
Stickers

Use class `.Sticker` to show stickers. Add class `.Sticker--marked` to highlight the sticker.

Markup:
<span class="Sticker">Lorem</span>
<span class="Sticker Sticker--marked">Ipsum</span>

Styleguide Stickers-1
*/

.Sticker {
  @include textxsmall;
  display: inline-table;
  padding: 0 $gap-base;
  color: $c-text;
  background-color: $c-contrast;
  border: 1px solid $c-text;
  text-transform: uppercase;

  @media print {
    border: 1px solid $c-dark-soft;
  }
}

.Sticker--marked {
  color: $c-contrast;
  background-color: $c-highlight;
}
