// Dependencies from other packages --------------------------------------------
@import '~sui-settings/src/settings';
@import '~sui-components-button/src/button';

@if $is-theme == false {
  @import '~sui-reset/src/reset';
  @import '~sui-typography/src/typography';
}

/*
Button-group

Use class `.Button-group` to create a button group structure.
@@
Use class `.Button--primary` (or the class for an specific button) for buttons inside buttons group.
@@
Use class `.is-active` to highlight the selected button.
@@
Use class `.is-disabled` to mark a button as disabled.

Markup:
<div class="Button-group">
    <div class="is-active">
        <button class="Button Button--primary" type="button">year</button>
    </div>
    <div>
        <button class="Button Button--primary" type="button">month</button>
    </div>
    <div>
        <button class="Button Button--primary is-disabled" type="button">hour</button>
    </div>
</div>

Styleguide Button-group-1
*/

.Button-group {
  display: table;

  > div {
    display: table-cell;
  }

  .Button {
    width: 100%;
    border-color: $c-primary-variant;
    border-right-width: 0;
    border-style: solid;
  }

  button { // fix iOS buttons separation */
    margin: 0;
  }

  div:last-of-type .Button {
    border-right-width: 1px;
  }

  .is-active .Button {
    background-color: $c-primary-variant;
  }
}

/*
Button group justified

Use class `.Button-group-justified` to display `.Button-group` full width buttons.


Markup:
<div class="Button-group Button-group--justified">
    <div class="active">
        <button class="Button Button--primary" type="button">year</button>
    </div>
    <div>
        <button class="Button Button--primary" type="button">month</button>
    </div>
    <div>
        <button class="Button Button--primary" type="button">hour</button>
    </div>
</div>

Styleguide Button-group-1.1
*/

.Button-group--justified {
  width: 100%;
}

/*
Button group centered

Use class `.Button-group--centered` to display `.Button-group` centered.


Markup:
<div class="Button-group Button-group--centered">
    <div class="active">
        <button class="Button Button--primary" type="button">year</button>
    </div>
    <div>
        <button class="Button Button--primary" type="button">month</button>
    </div>
    <div>
        <button class="Button Button--primary" type="button">hour</button>
    </div>
</div>

Styleguide Button-group-1.2
*/

.Button-group--centered {
  margin-left: auto;
  margin-right: auto;
}
