// components.button
// -----------------------------------------------------------------------------
$button-h-base:                30px !default;
$button-h-medium:              40px !default;
$button-h-large:               42px !default;

$button-lh-base:               28px !default;
$button-lh-medium:             38px !default;
$button-lh-large:              40px !default;
