// components.button
// -----------------------------------------------------------------------------
$button-h-small:               30px !default;
$button-h-base:                40px !default;
$button-h-large:               50px !default;

$button-lh-small:              28px !default;
$button-lh-base:               38px !default;
$button-lh-large:              48px !default;

$button-bg-primary-disabled:   $c-dark-light !default;
$button-bg-secondary-disabled: $c-contrast !default;

$button-b-primary-disabled:    transparent !default;
$button-b-secondary-disabled:  transparent !default;

$button-h-divider:             100% !default;
$button-mt-divider:            0 !default;
