// components.form
// -----------------------------------------------------------------------------

$field-h-base:         44px !default;
$field-p-base:         4px 10px !default;
$field-w-base:         330px !default;
$field-w-date:         50px !default;
$field-w-date-year:    66px !default;

$select-p-base:        0 10px !default;
$select-bg-arrow:      "bg-select-arrow.png" !default;

$textarea-h-base:      150px !default;
$textarea-resize:      vertical !default;

$check-rad-m-base:     3px 6px 0 0 !default;
